        .box1{
            background-color: aquamarine;
            border-radius: 10px;
        }

        .box2{
            background-color:rgb(182, 59, 59);
            border-radius: 10px;
        }

        .box3{
            background-color:rgb(214, 179, 63);   
            border-radius: 10px;

        }

        .box4{
            background-color:rgb(13, 98, 7); 
            border-radius: 10px;
        }

        .box5{
            background-color:rgb(18, 78, 114);
            border-radius: 10px;
        }

        .box6{
            background-color:rgb(97, 8, 30);
            border-radius: 10px;
        }

        
        .box7{
            background-color:rgb(171, 105, 19);
            border-radius: 10px;
        }

        
        .box8{
            background-color:rgb(17, 166, 141);
            border-radius: 10px;
        }
        
        .box9{
            background-color:rgb(87, 60, 7);
            border-radius: 10px;
        }
        .container{

          height: 100%;
          display: grid;
          justify-content: center;
          transform: translate(1%,50%);
          grid-template-columns: repeat(3, 100px);
          grid-template-rows: repeat(3, 100px);

          grid-row-gap: 5px;
          grid-column-gap: 5px;    
        }
        