 *{
    margin: 0;
    padding: 0;
 }
 body{
    font-family: Arial, sans-serif;
 }
 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
 }
 .logo{
    font-family: Verdana, sans-serif;
    padding: 15px;
    margin-left: 50px;
    font-size: 1.2rem;
    color: rgb(67, 145, 67);
 }
 .nav-links ul{
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
    margin-right: 50px;
 }
 .nav-links a:hover{
    color:rgb(53, 127, 53);
 }
 .nav-links ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    padding: 15px;
 }  
 .menu{
    cursor: pointer;
    display: none;
    flex-direction: column;
    margin-right: 50px;

 }
 .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: black;
 }

         .img{
            height: 160px;
            width: 220px;
            border-radius: 20px;
            margin-top: 15px;
        }

        .container{
          width: 250px;
          min-height: 290px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
          margin-top: 100px;
          background: #fff;
          border-radius: 20px;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        }
        .txt{
            text-align: center;
            margin-top: 10px; 
            font-size: 12px;
        }
        .txt span{
            opacity: 0.6;
        }
        .grid{
         display: grid;
         justify-content: center;
         align-items: center;
         grid-template-columns: repeat(4, 100px);
         column-gap: 180px;
         margin-top: 60px;
        }
        
        .btncart{
          margin-top: 20px;
          padding: 10px 10px;
          border-radius: 10px;
          background-color: rgb(87, 164, 87);
          color: white;
          border: none;
        }
        .boxbtn{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 80px;
        }
        .boxbtn p{
          margin-top: 20px;
        }
       
        


 @media(max-width: 1024px){
    .nav-links{
        display: none;
    }
    .navbar{
      width: 90vh;
      justify-content: space-between;
    }
    .menu{
        display: block;
    }
 }
   @media(min-width: 768px){
      .grid{
         grid-template-columns: repeat(2, 150px);
         column-gap: 100px;
      }
   }
